.registerDesign{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    border: 1px solid #ccc;
    padding: 2em;

    .form-control{
        font-size: 0.9em;
    }
}