<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Coupon Code </div>
      <div class="list-group list-group-flush">
        <a (click)="dashboard()" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a (click)="productDetails()" class="list-group-item list-group-item-action bg-light">Products</a>
        <a (click)="userDetails()" class="list-group-item list-group-item-action bg-light">Users</a>
        <a (click)="logOut()" class="list-group-item list-group-item-action bg-light">Logout</a>
        <!-- <a (click)="couponall()" class="list-group-item list-group-item-action bg-light">All</a> -->
   <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      <!-- <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>Add your content</p>
      </div> -->
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>

  <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                </div> -->
                <div class="dltmodal-content animate modal-body dltBl mb-3" style="text-align:center;">
                    <p>Confirmation</p>
                    <button type="submit" class="btn btn-success" (click)="ok()" style="width: 20%;">Yes</button>
                    <button type="submit" class="btn btn-danger" (click)="onCloseHandled()" style="width: 20%;margin-left: 0.3em;">Cancel</button><br><br>
                    <!-- <p class="error" *ngIf="showError">{{ErrorMsg}}</p> -->
                </div>
            </div>
        </div>

    </div>
